html, body {
  height: 100%;
  background-color:#74c0e6;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}

canvas {
  box-shadow: 3px 3px 10px grey;
}